:root {
  --primary-color: rgba(48, 25, 2, 0.575);
  --secondary-color: rgba(243, 196, 149, 0.575);
}
body {
  text-align: center !important;
}
h1 {
  color: var(--primary-color);
}
.title {
  color: var(--primary-color);
}
.learn-more {
  text-decoration: none;
}
